a {
    cursor: pointer;
}

.btn {
    margin-right: 8px;
}

.custom-width-600 .ngdialog-content {
    width: 600px!important;
}

.news-preview {
    width: 250px;
    display: inline-block;
}
.news-preview img {
    min-width: 250px;
    max-height: 200px;
}

.nothing {
    text-align:center;
    padding-top: 80px;
}

.img-crop {
    height: 160px;
    overflow: hidden;
}

.bottom-20 {
    margin-bottom: 20px;
}

.inline-bot {
    vertical-align: bottom;
}

.img-preview {
    max-height:240px;
}

.info {
    min-height: 430px;
    padding: 10px;
    /*border: 1px solid #F0F4F6;*/
}
.info .top-tip {
    padding: 55px 0 50px;
    text-align: center;
}

.menu-action .action-btns a {
    cursor: pointer;
    margin: 0 40px 20px 20px;
}
.action-btns {
    text-align:center
}

.menu-action a span {
    display: inline-block;
    font-size: 70px;
    text-align: center;
}


.btn-xs, .btn-group-xs > .btn {
    padding: 1px 5px !important;
}

.material_content {
    margin-top: 20px;
}
.material_create i {
    font-size: 40px;
    cursor: pointer;
}

.material_content .material_create {
    padding: 60px 0;
    display: block;
    border: 2px dotted #D9DADC;
}

.angular-ui-tree-handle {
    cursor: pointer;
    background: #f8faff;
    border: 1px solid #dae2ea;
    color: #7c9eb2;
    padding: 10px 10px;
}

.angular-ui-tree-handle:hover {
    color: #438eb9;
    background: #f4f6f7;
    border-color: #dce2e8;
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}


/* --- Tree --- */
.tree-node {
    border: 1px solid #dae2ea;
    background: #f8faff;
    color: #7c9eb2;
}
.tree-node-content {
    margin: 10px;
}
.tree-node-content.active {
    background: #E6F8FF;
}
.tree-handle {
    padding: 10px;
    background: #428bca;
    color: #FFF;
    margin-right: 10px;
}

.angular-ui-tree-handle:hover {
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
