<div>
    <div ng-include="'/materials/nav.html'"></div>



    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <div class="input-group" ng-class="{'focus': searchFocus === true}">
                    <input class="form-control" type="text"
                           ng-focus="searchFocus=true" ng-model="searchKey" ng-keydown="searchByKey($event)" >
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="search()">查询</button>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.form-group -->
        </div>
    </div>

    <div class="row">
        <p></p>
        <div class="col-md-6 text-left">
            <strong>图文消息</strong>
        </div>
        <div class="col-md-6 text-right">
            <a href="/materials/imgtxts_add" class="btn btn-primary">新增图文消息</a>
        </div>
    </div>

    <div class="row">
        <p></p>

        <div class="col-md-3" ng-repeat="imgtxt in imgtxts">
            <div class="thumbnail">
                <img data-holder-rendered="true" ng-src="{{imgtxt.pic_url}}" alt="{{imgtxt.title}}">
                <div class="caption">
                    <p >{{imgtxt.title}}</p>
                    <div class="btn-group btn-group-justified">
                        <a class="btn btn-default" href="/materials/imgtxts_edit/{{imgtxt.id}}">修改</a>
                        <a class="btn btn-default" href="#" ng-click="del(imgtxt.id)">删除</a>
                    </div>

                </div>
            </div>
        </div>


    </div>

    <div class="row text-right" >

        <div class="pagination pagination-info form-inline">
            {{currentPage}}/{{totalPage}}
            <pager class="pagination-sm"
                   ng-change="search()"
                   total-items="totalItems"
                   ng-model="currentPage"
                   num-pages="totalPage"
                   items-per-page="itemsPerPage"
                   previous-text="<<"
                   next-text=">>"
                    ></pager>

            <input class="form-control short-input" type="text" ng-model="goPage">
            <button class="btn btn-primary" ng-click="setPage(goPage)">GO</button>
        </div>


    </div>

</div>

<script type="text/ng-template" id="delTpl">
    <div class="ngdialog-message">
        <p>确定要删除吗</p>
    </div>
    <div class="ngdialog-buttons">
        <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('Cancel')">取消</button>
        <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm('Save')">确定</button>
    </div>
</script>

<style>
    .thumbnail img{height: 150px; width: 100%; display: block;}
</style>